<nav
  class="side-nav position-fixed top-0 start-0 d-flex flex-column justify-content-between"
>
  <div>
    <!-- 上方 logo -->
    <h1 class="mt-8 ps-8 mb-5">
      <a href="#"
        ><img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
          alt="logo"
      /></a>
    </h1>
    <!-- 下方選單 -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link text-primary ps-8 py-3 fw-bold"
          aria-current="page"
          href="#"
        >
          <span class="material-icons-outlined align-bottom me-4">
            assessment
          </span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary ps-8 py-3 fw-bold" href="#">
          <span class="material-icons-outlined align-bottom me-4">
            question_answer
          </span>
          Question
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary ps-8 py-3 fw-bold" href="index.html"
          ><span class="material-icons-outlined align-bottom me-4">
            assignment
          </span>
          Assignment</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary ps-8 py-3 fw-bold" href="#"
          ><span class="material-icons-outlined align-bottom me-4">
            video_library
          </span>
          Course</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-primary ps-8 py-3 fw-bold active position-relative"
          href="admin.html"
          ><span class="material-icons-outlined align-bottom me-4">
            supervisor_account
          </span>
          Admin</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary ps-8 py-3 fw-bold" href="#"
          ><span class="material-icons-outlined align-bottom me-4">
            settings
          </span>
          Settings</a
        >
      </li>
    </ul>
  </div>

  <!-- 最下方帳號 -->
  <div class="d-flex account ps-8 align-items-center mb-8">
    <img
      src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
      class="rounded-circle me-4"
      alt="avatar"
    />
    <div>
      <p class="fw-bold text-primary mb-1">Andy Chen</p>
      <p class="text-secondary mb-0 small">andy0401@mail.com</p>
    </div>
  </div>
</nav>
