.table {
  margin-bottom: 64px !important;
}

.pagination li:first-child {
  a {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.pagination li:last-child {
  a {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.page-item {
  border-radius: 2px !important;
}

.page-link:hover,
.page-link.active {
  background-color: $success !important;
  color: white !important;
}

.main {
  .rounded-extra-sm {
    border-radius: 2px !important;
  }
}
