.main {
  margin-left: 296px;
}

.extra-small {
  font-size: 12px;
}

.rounded-extra-sm {
  border-radius: 2px !important;
}

// 上方header
.header {
  .left {
    h2 {
      margin-right: 50px;
    }
    .btn.show,
    .btn:focus {
      border: 0;
    }
    .dropdown-toggle::after {
      display: none;
    }
  }
}

// 下方dashboard
.dashboard {
  // dropdown menu
  .dropdown-toggle::after {
    display: none;
  }
  .btn.show,
  button:focus {
    outline: 0;
    border: 0;
  }
}
// 左側選單
.left-side-menu {
  .list-group-item:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .list-group-item:last-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .list-group-item.active {
    background-color: $gray-100 !important;
    border: 1px solid $gray-400;
  }
}

// 右側dashboard主要內容
.dashboard-main {
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center center;
  }

  .btn {
    border: 1px solid $gray-400;
  }
}
