<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANSWER</title>
    <!-- Material Icons CDN -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/admin-side-nav'); -%>
    <div class="main">
      <div class="container py-8 px-8">
        <!-- 上方header -->
        <div
          class="header d-flex justify-content-between align-items-center mb-12"
        >
          <div class="left d-flex align-items-center">
            <h2 class="fs-4">Admin</h2>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#newAdmin"
            >
              <span class="material-icons-outlined text-success align-bottom">
                add
              </span>
              Add New Admin
            </button>
          </div>
          <div class="right d-flex align-items-center">
            <span class="material-icons-outlined align-bottom ms-6">
              search
            </span>
            <span class="material-icons-outlined align-bottom ms-6">
              notifications_active
            </span>
          </div>
        </div>
        <!-- 下方table -->
        <table class="table table-hover text-primary align-middle">
          <thead>
            <tr>
              <th scope="col">
                ID
                <span class="material-icons-outlined align-bottom text-success">
                  arrow_downward
                </span>
              </th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Verified</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="fw-normal">#1</th>
              <td>Emir Wicks</td>
              <td>emir.wicks@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#2</th>
              <td>Zaina Goldsmith</td>
              <td>zaina.goldsmith@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#3</th>
              <td>Mahima Lopez</td>
              <td>mahima.lopez@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#4</th>
              <td>Pharrell Murray</td>
              <td>pharrell.murray@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#5</th>
              <td>Annika Mcbride</td>
              <td>annika.mcbride@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#6</th>
              <td>Fatimah Clark</td>
              <td>fatimah.clark@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#7</th>
              <td>Klaudia Rhodes</td>
              <td>klaudia.rhodes@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#8</th>
              <td>Tillie Lucero</td>
              <td>tillie.lucero@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#9</th>
              <td>Sabrina Stephenson</td>
              <td>sabrina.stephenson@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row" class="fw-normal">#10</th>
              <td>Annie Smith</td>
              <td>annie.smith@mail.com</td>
              <td>Yes</td>
              <td>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#seeMore"
                >
                  <span class="material-icons align-bottom"> visibility </span>
                </button>
                <button
                  type="button"
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#edit"
                >
                  <span class="material-icons align-bottom"> edit </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 分頁選單 -->
        <div class="d-flex justify-content-end">
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <li class="page-item">
                <a
                  class="page-link text-success border-success rounded-extra-sm"
                  href="#"
                  aria-label="Previous"
                >
                  <span class="material-icons-outlined fs-6 align-text-bottom">
                    arrow_back_ios
                  </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link text-primary border-success active" href="#"
                  >1</a
                >
              </li>
              <li class="page-item">
                <a class="page-link text-primary border-success" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link text-primary border-success" href="#">3</a>
              </li>
              <li class="page-item">
                <a
                  class="page-link text-success border-success rounded-extra-sm"
                  href="#"
                  aria-label="Next"
                >
                  <span class="material-icons-outlined fs-6 align-text-bottom">
                    arrow_forward_ios
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- 新增modal -->
    <%- include('./components/new-admin-modal'); -%>
    <!-- 編輯modal -->
    <%- include('./components/edit-admin-modal'); -%>
    <!-- 查看modal -->
    <%- include('./components/admin-details-modal'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
